@import "src/app/shared/styles/variables/colors";

.header {
  position: absolute;
  width: 1440px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: $color-white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.logo img {
  width: 111px;
  height: 48px;
}

.content {
  display: flex;
  align-items: center;
  gap: 16px;
}
