.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: 24px;
    color: #333e48;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    color: #333e48;
  }

  ::ng-deep ng-content > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
